<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
  window.hopeShoe = "<%= image_url("hope_shoe.jpg") %>"
  window.eatShoe = "<%= image_url("eating_shoe.png") %>"
  window.moonBoot = "<%= image_url("moon-boot.jpg") %>"
  window.bagel = "<%= image_url("bagel.jpg") %>"
  window.heel = "<%= image_url("heel.jpg") %>"
</script>
<main id="root">
</main>
